* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 100vh;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #daeef6);
    animation: gradient 15s ease infinite;
}

.pipe {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 80px;
}

.start {
    animation: pipe-animation 1.5s linear infinite;
}

.hide {
    display: none;
}

.startBtn {
    width: 100px;
    height: 50px;
    background: rgb(35, 160, 35);
    color: white;
    font-size: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.restartBtn {
    width: 100px;
    height: 50px;
    background: rgb(35, 160, 35);
    color: white;
    font-size: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.timer {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    padding-top: 1%;
}

.score {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    padding-top: 1%;
    visibility: hidden;
}

.scoreTable {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    padding-top: 1%;
}


.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms linear;
}

.clouds {
    position: absolute;
    padding-top: 5%;
    width: 550px;
    animation: clouds-animation 20s linear infinite;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    40% {
        bottom: 180px;
    }
    50% {
        bottom: 180px;
    }
    60% {
        bottom: 180px;
    }
    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }
    to {
        right: 100%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
